
.in{
    display: flex;
    /* background-color: skyblue; */
    width: 90vw;
    min-height: 80vh;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}
.login,
.signup{
    color: var(--mainTextColour);
    background: var(--backgroundColour);
    box-shadow: 0px 0px 10px var(--mainTextColour);
    padding: 200px 100px;
    border-radius: 75px 10px;
    transition: 1s;
    text-decoration: none;
}
.login{
    transform: translateY(-80px);
}
.signup{
    transform: translateY(80px);

}
.login:hover,
.signup:hover{
    color: var(--backgroundColour);
    background: var(--mainTextColour);
    box-shadow: 0px 0px 10px var(--backgroundColour);
    transition: 1s;
    text-shadow: 0px 0px 10px #000;
}
.in h2{
    font-size: 2rem;
    color: var(--backgroundColour);

}