.create{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-transform: uppercase;
}
.create form{
    margin-top: 10rem;
    padding: 20px;
    width: 50%;
    background-color: var(--mainTextColour);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}
.create form h1{
    font-size: 3rem;
    color: var(--backgroundColour);
    text-shadow: 0px 0px 5px #7d7474;
}
.create form h6{
    font-size: 2rem;
    color: rgb(254, 153, 0);
    margin: 20px 0px;
}
.create form input, select{
    width: 400px;
    outline: none;
    border: none;
    border-radius: 20px;
    text-align: center;
    min-height: 40px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 40px;
    color: #000;
}
option{
    font-weight: 700;
    color: var(--mainTextColour);
}
.addtripbtn{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    background: green;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px var(--backgroundColour);
    transition: .7s;
    border: none;

}
.addtripbtn:hover{
    color: green;
    background: white;
    transition: .7s;
}