.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    position: fixed !important;
    top: 0px;
    height: 100px;
    background-color: var(--backgroundColour);
}
.logo img{
    width: 100px;
    margin: 0;
    padding: 0%;
    animation: bcChange infinite ease-in-out 2s;
}

.logo p{
    font-size: 3rem;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--mainTextColour);
    text-align: center;
    padding: 0%;
    margin: 0%;
    animation: bcChange infinite ease-in-out 2s;
}
.welcome p{
    animation: none;
    }
@keyframes bcChange {
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
    
}
.login-btn button{
    color: var(--mainTextColour);
    background: var(--backgroundColour);
    box-shadow: 0px 0px 10px var(--mainTextColour);
    padding: 20px 20px;
    border-radius: 15px;
    transition: 1s;
    font-size: 1.5rem;
    margin: 0% 400%;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}