.addtrip{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.addtrip .displaytrip{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}
.displaytrip{
    width: 95%;
    box-shadow: 0px 0px 40px 20px var(--mainTextColour);
    border-radius: 100px;
}
.displaytrip table{
    padding: 100px;
    width: 90%;
    box-shadow: 0px 0px 40px  var(--backgroundColour);
    border-radius: 70px;
    margin-bottom: 100px;
    background-color: var(--mainTextColour);
    /* table-layout: auto; */
}
.displaytrip table tr{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.displaytrip h4 {
    text-decoration: none;
    font-size: 3rem;
    color: var(--backgroundColour);
    background: var(--mainTextColour);
    padding: 40px;
    border-radius: 100px;
    box-shadow: 0px 0px 15px var(--backgroundColour);
    transition: .7s;

}
.displaytrip h4:hover{
    color: var(--mainTextColour);
    background: var(--backgroundColour);
    transition: .7s;
}

.displaytrip table tr th{
    font-size: 1.4rem;
    width: 14%;
    /* background-color: blue; */
}
.list{
    color: var(--backgroundColour);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    height: fit-content;
}
.list td{
    width: 14%;
    font-size: 1.2rem;
    height: fit-content;
    text-align: center;
    word-wrap: break-word;
    color: rgb(121, 121, 33);
    font-weight: 700;
    /* text-shadow: 0px 0px 2px black; */
}

hr{
    width: 100%;
    height: 5px;
    background-color: aqua;
}
.btnn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.updatebtn {
    text-decoration: none;
    color: white;
    background: forestgreen;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px var(--backgroundColour);
    transition: .7s;

}
.updatebtn:hover{
    color: green;
    background: white;
    transition: .7s;
}
.deletebtn {
    width: 80px;
    text-decoration: none;
    color: white;
    background: red;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px var(--backgroundColour);
    transition: .7s;

}
.deletebtn:hover{
    color: red;
    background: white;
    transition: .7s;
}